.text-center{
    text-align: center;
}

.bg-grey{
    background:rgb(105, 101, 101);
}

.mx-auto{
    margin: auto;
}

.flex{
    
    display: flex;


}

.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}